openapi: 3.1.0
info:
  title: BitBadges API
  description: >-
    The BitBadges API is a RESTful API that allows developers to interact with
    the BitBadges blockchain and indexer. The API provides endpoints for
    retrieving account details, collections, badges, and more. The API requires
    an API key for authentication.


    ```tsx

    import { BigIntify, Stringify, Numberify, BitBadgesAPI } from
    "bitbadgesjs-sdk";

    const BitBadgesApi = new BitBadgesAPI({ convertFunction: BigIntify, ....})

    const collections = await BitBadgesApi.getCollections(...);

    ```


    See the
    [documentation](https://docs.bitbadges.io/for-developers/bitbadges-api/api)
    for information on how to use the API.


    You can go to [the developer portal](https://bitbadges.io/developer) to
    create your API key.
  version: '0.1'
servers:
  - url: https://api.bitbadges.io/api/v0
    description: Official API
paths:
  /users:
    post:
      operationId: getAccounts
      summary: Get Accounts
      description: >
        Retrieves accounts and accompanying details.


        ```tsx

        const accountsRes = await BitBadgesApi.getAccounts({
          accountsToFetch: [
            {
              //example
              address: 'cosmos...',
              fetchSequence: true,
              fetchBalance: true,
              viewsToFetch: [
                {
                  viewType: 'badgesCollected',
                  viewId: 'badgesCollected',
                  bookmark: '',
                },
              ],
            },
          ],
        })

        const account = accountsRes.accounts[0]

        ```

        Documentation References / Tutorials:

        - **[Fetching
        Accounts](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-accounts)**
      tags:
        - Accounts
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAccountsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userMaybeSignedIn: []
      x-internal: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountsPayload'
  /collections:
    post:
      operationId: getCollectionsBatch
      summary: Get Collections
      tags:
        - Badges
      description: >-
        Retrieves badge collections and associated details.
          ```tsx
        const res = await BitBadgesApi.getCollections({
          collectionsToFetch: [
            {
              collectionId: 1n,
              metadataToFetch: {
                badgeIds: [{ start: 1n, end: 10n }],
              },
              fetchTotalAndMintBalances: true,
              viewsToFetch: [
                {
                  viewType: 'owners',
                  viewId: 'owners',
                  bookmark: '',
                },
              ],
            },
          ],
        })

        const collection = res.collections[0]

        ```

        Documentation References / Tutorials:

        - **[Fetching
        Collections](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-collections)**
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetCollectionsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userMaybeSignedIn: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCollectionsPayload'
  /collection/{collectionId}/balance/{cosmosAddress}:
    post:
      operationId: getBadgeBalanceByAddress
      summary: Get Badge Balances
      description: >-
        Retrieves the balance of a specific address for a collection.


        ```tsx

        const res = await BitBadgesApi.getBadgeBalanceByAddress(...);

        ```


        Documentation References / Tutorials:

        - **[Fetching
        Balances](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-balances)**
      tags:
        - Badges
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection containing the badge.
          required: true
          schema:
            type: integer
        - name: cosmosAddress
          in: path
          description: The Cosmos address for which the badge balance is to be retrieved.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBadgeBalanceByAddressSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBadgeBalanceByAddressPayload'
  /status:
    post:
      operationId: getStatus
      summary: Get Status
      description: >-
        Gets the current status details about the blockchain / indexer (gas,
        block height, etc).
          ```tsx
          const res = await BitBadgesApi.getStatus();
          ```
      tags:
        - Miscellanous
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetStatusSuccessResponse'
          description: Returns the current status of the blockchain / indexer
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
  /search/{searchValue}:
    post:
      operationId: searchByValue
      summary: Search
      description: |-
        description: |
          Searches for collections, badges, accounts, and address lists based on the provided search value.
          ```tsx
          const res = await BitBadgesApi.getSearchResults(searchValue, { ... });
        ```
      tags:
        - Miscellanous
      parameters:
        - name: searchValue
          in: path
          description: The value to search for.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSearchPayload'
  /collection/{collectionId}/{badgeId}/owners:
    post:
      operationId: getOwnersForBadge
      summary: Get Badge Owners
      tags:
        - Badges
      description: >-
        Retrieves the owners in a paginated format for a specific badge in a
        collection.


        ```tsx

        const res = await BitBadgesApi.getOwnersForBadge(...);

        ```


        Documentation References / Tutorials:

        - **[Fetching
        Balances](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-balances)**
      parameters:
        - name: collectionId
          in: path
          description: The numeric collection ID.
          required: true
          schema:
            type: integer
        - name: badgeId
          in: path
          description: The numeric badge ID to retrieve owners for.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetOwnersForBadgeSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOwnersForBadgePayload'
  /collection/{collectionId}/{badgeId}/activity:
    post:
      operationId: getBadgeActivity
      summary: Get Badge Activity
      description: >-
        Retrieves the activity in a paginated format for a specific badge in a
        collection.

        ```tsx

        const res = await BitBadgesApi.getBadgeActivity(...);

        ```
      tags:
        - Badges
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection containing the badge.
          required: true
          schema:
            type: integer
        - name: badgeId
          in: path
          description: The ID of the badge for which activity is to be retrieved.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBadgeActivitySuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBadgeActivityPayload'
  /collection/{collectionId}/refresh:
    post:
      operationId: refreshMetadata
      summary: Refresh Metadata
      tags:
        - Badges
      description: >-
        Triggers a metadata refresh for a specific collection. BitBadges API
        uses a refresh queue system for fetching anything off-chain.

        This will refetch any details for the collection (such as metadata,
        balances, approval details, etc). Note it will reject if recently
        refreshed.

        Uses a cooldown of 5 minutes.


        ```tsx

        const res = await BitBadgesApi.refreshMetadata(...);

        ```
      parameters:
        - name: collectionId
          in: path
          description: The ID of the collection to trigger metadata refresh.
          required: true
          schema:
            type: integer
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshMetadataPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshMetadataSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      x-internal: true
  /claims/complete/{claimId}/{cosmosAddress}:
    post:
      operationId: completeClaim
      summary: Complete Claim
      tags:
        - Claims
      description: >-
        Completes a claim for a specific address. First, we simulate the claim
        and fail immediately if simulation does not pass.

        If simulation is successful, we put the claim attempt into the queue amd
        return its ID.

        You can then fetch its status via the claim attempt status endpoint.



        ```tsx

        const res = await BitBadgesApi.completeClaim(claimId, address, { ...body
        }); //This route

        console.log(res.claimAttemptId);


        //Sleep 2 seconds


        const res = await
        BitBadgesApi.getClaimAttemptStatus(res.claimAttemptId);

        console.log(res) // { success: true }

        ```


        Documentation References / Tutorials:

        - **[Getting
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**

        - **[Managing
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**

        - **[Completing
        Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**

        - **[All About BitBadges
        Claims](https://docs.bitbadges.io/for-developers/claim-builder)**
      parameters:
        - name: claimId
          in: path
          description: The ID of the claim.
          required: true
          schema:
            type: string
        - name: cosmosAddress
          in: path
          description: The Cosmos address of the user making the claim.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCompleteClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
  /claims/simulate/{claimId}/{cosmosAddress}:
    post:
      operationId: simulateClaim
      summary: Simulate Claim
      tags:
        - Claims
      description: >-
        Simulates a claim for a user. This will check if the claim is valid and
        that all criteria is satisfied. Note that it returns a fake ID for
        compatibility

        with certain integrations. A successful response means simulation
        passed.


        ```tsx

        const res = await BitBadgesApi.simulateClaim(...);

        ```



        Documentation References / Tutorials:

        - **[Getting
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**

        - **[Managing
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**

        - **[Completing
        Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**

        - **[All About BitBadges
        Claims](https://docs.bitbadges.io/for-developers/claim-builder)**
      parameters:
        - name: claimId
          in: path
          description: The ID of the claim.
          required: true
          schema:
            type: string
        - name: cosmosAddress
          in: path
          description: The Cosmos address of the user making the claim.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSimulateClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
  /claims/reserved/{claimId}/{cosmosAddress}:
    post:
      operationId: getReservedCodes
      summary: Get Reserved Claim Codes
      tags:
        - Claims
      description: >-
        Retrieves the reserved codes for a claim. For on-chain approvals, we use
        a claim code reserve

        system where the claim code is to be used in the eventual blockchain
        transaction.

        This is used to bridge the gap between the off-chain claim and on-chain
        approval / transfer.


        ```tsx

        const res = await BitBadgesApi.getReservedCodes(...);

        ```



        Documentation References / Tutorials:

        - **[Getting
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**

        - **[Managing
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**

        - **[Completing
        Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**

        - **[All About BitBadges
        Claims](https://docs.bitbadges.io/for-developers/claim-builder)**
      parameters:
        - name: claimId
          in: path
          description: The ID of the claim.
          required: true
          schema:
            type: string
        - name: cosmosAddress
          in: path
          description: The Cosmos address of the user making the claim.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetReservedCodesSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetReservedCodesPayload'
  /claims/status/{claimAttemptId}:
    post:
      operationId: getClaimAttemptStatus
      tags:
        - Claims
      summary: Get Claim Attempt Status
      description: >-
        Retrieves the status of a claim attempt by the ID received when
        submitting.


        ```tsx

        const res = await BitBadgesApi.getClaimAttemptStatus(...);

        ```


        Documentation References / Tutorials:

        - **[Getting
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**

        - **[Managing
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**

        - **[Completing
        Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**

        - **[All About BitBadges
        Claims](https://docs.bitbadges.io/for-developers/claim-builder)**
      parameters:
        - name: claimAttemptId
          in: path
          description: The transaction ID of the claim attempt.
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimAttemptStatusSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /user/updateAccount:
    post:
      operationId: updateAccountInfo
      summary: Update Profile
      tags:
        - Accounts
      description: >-
        Updates the profile/account information for a user. Only the provided
        fields will be updated.

        ```tsx

        const res = await BitBadgesApi.updateAccountInfo(...);

        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountInfoPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAccountInfoSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
      x-internal: true
  /browse:
    post:
      operationId: getBrowseCollections
      summary: Get Browse Collections
      tags:
        - Miscellanous
      description: |-
        Gets details for a browse/explore page.
        ```tsx
        const res = await BitBadgesApi.getBrowseCollections(...);
        ```
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetBrowseCollectionsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
      x-internal: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBrowseCollectionsPayload'
  /broadcast:
    post:
      operationId: broadcastTx
      tags:
        - Transactions
      summary: Broadcast Transaction
      description: >-
        Broadcasts a transaction to the blockchain.


        ```tsx

        const res = await BitBadgesApi.broadcastTx(...);

        ```



        Documentation References / Tutorials:

        - **[Create, Genereate, and Sign
        Txs](https://docs.bitbadges.io/for-developers/create-and-broadcast-txs)**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BroadcastTxPayload'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iBroadcastTxSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
  /simulate:
    post:
      operationId: simulateTx
      summary: Simulate Transaction
      description: >-
        Simulates a transaction on the blockchain.

        ```tsx

        const res = await BitBadgesApi.simulateTx(...);

        ```


        Documentation References / Tutorials:

        - **[Create, Genereate, and Sign
        Txs](https://docs.bitbadges.io/for-developers/create-and-broadcast-txs)**
      tags:
        - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/SimulateTxPayload'
                - type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSimulateTxSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
  /addressLists:
    put:
      operationId: updateAddressLists
      tags:
        - Address Lists
      summary: Update Address Lists
      description: |-
        Updates off-chain address lists.

        ```tsx
        const res = await BitBadgesApi.updateAddressLists(...);
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressListsPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAddressListsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userIsOwner: []
          userSignedIn: []
    post:
      operationId: createAddressLists
      summary: Creates Address Lists
      tags:
        - Address Lists
      description: |-
        Creates address lists stored by BitBadges centralized servers.

        ```tsx
        const res = await BitBadgesApi.createAddressLists(...);
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressListsPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateAddressListsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userIsOwner: []
          userSignedIn: []
    delete:
      operationId: deleteAddressLists
      summary: Delete Address Lists
      tags:
        - Address Lists
      description: |-
        Deletes address lists. Must be created off-chain.
        ```tsx
        const res = await BitBadgesApi.deleteAddressLists(...);

        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAddressListsPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteAddressListsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userIsOwner: []
          userSignedIn: []
  /addressLists/fetch:
    post:
      operationId: getAddressLists
      summary: Get Address Lists
      tags:
        - Address Lists
      description: >-
        Gets address lists. Can be on-chain or off-chain.

        ```tsx

        const listsRes = await BitBadgesApi.getAddressLists([{
            //example
            listId: "...",
            viewsToFetch: [{
                viewType: 'listActivity',
                viewId: 'listActivity',
                bookmark: ''
            }]
        }])


        const list = listsRes[0];

        ```



        Documentation References / Tutorials:

        - **[Fetching
        Lists](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/fetching-lists)**
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAddressListsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userMaybeSignedIn: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddressListsPayload'
  /siwbbRequest/fetch:
    post:
      operationId: getAndVerifySIWBBRequest
      summary: Get And Verify Siwbb Request
      tags:
        - Sign In with BitBadges
      description: >-
        This endpoint handles the exchange of the code for the Sign In with
        BitBadges details

        such as the Blockin message, signature, etc for the user.


        ```tsx

        import { BlockinChallenge, BigIntify, BitBadgesApi, SecretsProof } from
        "bitbadgesjs-sdk";



        const options: VerifyChallengeOptions = { ... }

        const res = await BitBadgesApi.getAndVerifySIWBBRequest({
            code,
            options,
            clientSecret: '...',
            clientId: '...',
            redirectUri: '...' //only needed if redirected
        });

        const blockinChallenge = res.blockin;

        const { params, address, chain, verificationResponse, publicKey,
        otherSignIns, message, signature, secretsPresentations } =
        blockinChallenge;

        if (!verificationResponse.success) {
            console.log(verificationResponse.errorMessage);
            throw new Error("Not authenticated");
        }

        ```
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetAndVerifySIWBBRequestSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAndVerifySIWBBRequestPayload'
  /siwbbRequest:
    delete:
      operationId: deleteSIWBBRequest
      summary: Delete Siwbb Request
      tags:
        - Sign In with BitBadges
      description: |-
        Deletes a authentication code from the user's account.

        ```tsx
        const res = await BitBadgesApi.deleteSIWBBRequest(...);
        ```
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSIWBBRequestPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteSIWBBRequestSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
    post:
      operationId: createSIWBBRequest
      summary: Create Siwbb Request
      tags:
        - Sign In with BitBadges
      description: >-
        Creates a Blockin authentication code. This is used for the Sign In wtih
        BitBadges flow.


        ```tsx

        const res = await BitBadgesApi.createSIWBBRequest(...);

        ```
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSIWBBRequestPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateSIWBBRequestSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
  /developerApp/siwbbRequests:
    post:
      operationId: getSIWBBRequestsForDeveloperApp
      summary: Get Siwbb Requests For Auth App
      tags:
        - Sign In with BitBadges
      description: >-
        Gets all saved docs for the Sign In with BitBadges flow for a specific
        app. This is useful, for example,

        if you are authenticating in-person and want to pre-fetch all
        authentication details

        to avoid doing it at verification time.


        This will return the actual authentication details, not just the codes.


        ```tsx

        const res = await BitBadgesApi.getSIWBBRequestsForDeveloperApp(...);

        ```
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/iGetAndVerifySIWBBRequestsForDeveloperAppSuccessResponse
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/GetAndVerifySIWBBRequestsForDeveloperAppPayload
  /siwbbRequest/verify:
    post:
      operationId: verifySIWBBRequest
      summary: Verify SIWBB Request
      tags:
        - Sign In with BitBadges
        - API Authentication
      description: >-
        A generic route for verifying sign-in requests. This is just a helper
        route

        that will handle verification + checking asset ownership requirements
        for you.

        Note that you can also implement this yourself or use the
        getAndVerifySIWBBRequest route.



        ```tsx

        const res = await BitBadgesApi.verifySIWBBRequest(...);

        ```



        Documentation References / Tutorials:

        - **[Sign In with
        BitBadges](https://docs.bitbadges.io/for-developers/authenticating-with-bitbadges)**
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGenericBlockinVerifySuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBlockinVerifyPayload'
  /verifyOwnershipRequirements:
    post:
      operationId: verifyOwnershipRequirements
      summary: Verify Ownership Requirements
      tags:
        - Badges
      description: >-
        A generic route for verifying a custom set of asset ownership
        requirements. This supports badges, address lists, and Ethereum /
        Polygon NFTs.


        ```tsx

        const res = await BitBadgesApi.verifyOwnershipRequirements(...);

        ```


        Documentation References / Tutorials:

        - **[Sign In with
        BitBadges](https://docs.bitbadges.io/for-developers/authenticating-with-bitbadges)**
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGenericVerifyAssetsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericVerifyAssetsPayload'
  /claimAlerts/send:
    post:
      operationId: sendClaimAlert
      summary: Sends Claim Alert
      tags:
        - Claim Alerts
      description: >-
        Sends claim alert notifications out. Claim alerts are in-app
        notifications to alert a user.


        ```tsx

        const res = await BitBadgesApi.sendClaimAlert(...);

        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendClaimAlertsPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iSendClaimAlertsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
  /follow-protocol:
    post:
      operationId: getFollowDetails
      summary: Get Follow Protocol Details
      tags:
        - Maps and Protocols
      description: >-
        Gets the follow details for a user according to the BitBadges follow
        protocol.


        ```tsx

        const res = await BitBadgesApi.getFollowDetails(...);

        ```
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetFollowDetailsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFollowDetailsPayload'
  /claimAlerts:
    post:
      operationId: getClaimAlerts
      summary: Get Claim Alerts
      tags:
        - Claim Alerts
      description: |-
        Gets claim alerts for a collection.
        ```tsx
        const res = await BitBadgesApi.getClaimAlerts(...);
        ```
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/iGetClaimAlertsForCollectionSuccessResponse
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userSignedIn: []
          userIsManager: []
      x-internal: true
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetClaimAlertsForCollectionPayload'
  /collection/{collectionId}/refreshStatus:
    post:
      operationId: getRefreshStatus
      summary: Get Refresh Status
      tags:
        - Badges
      description: >-
        Gets the refresh status for a collection. Used to track if any errors
        occur during a refresh, or if it is in the queue or not.


        ```tsx

        const res = await BitBadgesApi.getRefreshStatus(...);

        ```
      parameters:
        - name: collectionId
          in: path
          description: The collection ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iRefreshStatusSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /maps:
    post:
      operationId: getMaps
      summary: Get Maps
      tags:
        - Maps and Protocols
      description: |-
        Gets maps for a collection.

        ```tsx
        const res = await BitBadgesApi.getMaps(...);
        ```
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetMapsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      x-internal: true
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMapsPayload'
  /secret/fetch:
    post:
      operationId: getSecret
      summary: Get Secret
      tags:
        - Verifiable Secrets
      description: >-
        Gets a verifiable secret.


        ```tsx

        const res = await BitBadgesApi.getSecret(...);

        ```



        Documentation References / Tutorials:

        - **[Verifiable
        Secrets](https://docs.bitbadges.io/for-developers/core-concepts/verifiable-secrets)**
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetSecretSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSecretPayload'
  /secret:
    post:
      operationId: createSecret
      tags:
        - Verifiable Secrets
      summary: Create Secret
      description: >-
        Creates a secret.

        ```tsx

        const res = await BitBadgesApi.createSecret(...);

        ```


        Documentation References / Tutorials:

        - **[Verifiable
        Secrets](https://docs.bitbadges.io/for-developers/core-concepts/verifiable-secrets)**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateSecretSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
    put:
      operationId: updateSecret
      tags:
        - Verifiable Secrets
      summary: Update Secret
      description: |-
        Updates a secret.
        ```tsx
        const res = await BitBadgesApi.updateSecret(...);
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateSecretSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
    delete:
      tags:
        - Verifiable Secrets
      operationId: deleteSecret
      summary: Delete Secret
      description: |-
        Deletes a secret.
        ```tsx
        const res = await BitBadgesApi.deleteSecret(...);
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSecretPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteSecretSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
  /collections/{collectionId}/filter:
    post:
      tags:
        - Badges
      operationId: filterBadgesInCollection
      summary: Custom Filter Badges
      description: |-
        Filter badges in a collection based on filter values.

        ```tsx
        const res = await BitBadgesApi.filterBadgesInCollection(...);
        ```
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iFilterBadgesInCollectionSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      x-internal: true
      parameters:
        - name: collectionId
          in: path
          schema:
            description: The collection ID to filter.
            $ref: '#/components/schemas/NumberType'
          required: true
        - name: badgeIds
          in: query
          schema: &ref_24
            items:
              $ref: '#/components/schemas/iUintRange'
            description: >-
              Limit to specific badge IDs. Leave undefined to not filter by
              badge ID.
            type: array
            examples: &ref_18
              - - start: '1'
                  end: '10'
          required: false
        - name: categories
          in: query
          schema: &ref_25
            items:
              type: string
            description: Limit to specific lists. Leave undefined to not filter by list.
            type: array
          required: false
        - name: tags
          in: query
          schema: &ref_26
            items:
              type: string
            description: Limit to specific lists. Leave undefined to not filter by list.
            type: array
          required: false
        - name: mostViewed
          in: query
          schema: &ref_27
            enum:
              - daily
              - allTime
              - weekly
              - monthly
              - yearly
            description: >-
              mostViewed is a special view that sorts by most viewed badges. May
              be incompatible with other filters.
            type: string
          required: false
        - name: bookmark
          in: query
          schema: &ref_28
            description: Pagination bookmark. Leave undefined or "" for first request.
            type: string
          required: false
        - name: attributes
          in: query
          schema: &ref_29
            items:
              properties:
                name:
                  type: string
                  examples: &ref_13
                    - Name
                value:
                  anyOf:
                    - type: string
                    - type: number
                    - type: boolean
              required:
                - name
                - value
              additionalProperties: false
              type: object
            description: Attribute queries
            type: array
          required: false
  /claims/fetch:
    post:
      operationId: getClaims
      summary: Get Claims
      tags:
        - Claims
      description: >-
        Retrieve claims by ID(s). If the claim is for a private list, you must
        also prove knowledge of the list ID.


        ```tsx

        const res = await BitBadgesApi.getClaims(...);

        ```


        Documentation References / Tutorials:

        - **[Getting
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**

        - **[Managing
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**

        - **[Completing
        Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**

        - **[All About BitBadges
        Claims](https://docs.bitbadges.io/for-developers/claim-builder)**
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGetClaimsSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
          userMaybeSignedIn: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetClaimsPayload'
  /claims:
    post:
      operationId: createClaim
      summary: Create Claim
      tags:
        - Claims
      description: >-
        Creates a new claim. Creating and maintaining claims are typically
        recommended

        to be done through the site, not the API, because they require special
        configuration.


        ```tsx

        const res = await BitBadgesApi.createClaim(...);

        ```


        Documentation References / Tutorials:

        - **[Getting
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**

        - **[Managing
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**

        - **[Completing
        Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**

        - **[All About BitBadges
        Claims](https://docs.bitbadges.io/for-developers/claim-builder)**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iCreateClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
    put:
      operationId: updateClaim
      summary: Update Claim
      tags:
        - Claims
      description: >-
        Updates an existing claim. Creating and maintaining claims are typically
        recommended

        to be done through the site, not the API, because they require special
        configuration.


        ```tsx

        const res = await BitBadgesApi.updateClaim(...);

        ```


        Documentation References / Tutorials:

        - **[Getting
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**

        - **[Managing
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**

        - **[Completing
        Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**

        - **[All About BitBadges
        Claims](https://docs.bitbadges.io/for-developers/claim-builder)**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iUpdateClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
    delete:
      operationId: deleteClaim
      summary: Delete Claim
      tags:
        - Claims
      description: >-
        Deletes a claim. Creating and maintaining claims are typically
        recommended

        to be done through the site, not the API, because they require special
        configuration.

        Claim deletion is a soft delete (i.e. the claim will become inactive and
        not displayed but can be reinstated with same ID later on).


        ```tsx

        const res = await BitBadgesApi.deleteClaim(...);

        ```


        Documentation References / Tutorials:

        - **[Getting
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/getting-claims)**

        - **[Managing
        Claims](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/managing-claims)**

        - **[Completing
        Claims](https://docs.bitbadges.io/for-developers/claim-builder/auto-complete-claims-w-bitbadges-api)**

        - **[All About BitBadges
        Claims](https://docs.bitbadges.io/for-developers/claim-builder)**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteClaimPayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iDeleteClaimSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      parameters:
        - name: x-api-key
          in: header
          description: BitBadges API Key for authentication
          required: true
          schema:
            type: string
      security:
        - apiKey: []
          userSignedIn: []
  /siwbbRequest/appleWalletPass:
    post:
      operationId: generateAppleWalletPass
      summary: Generate Apple Wallet Pass
      tags:
        - Sign In with BitBadges
      description: |
        Generate an Apple Wallet pass based on the provided request body.
        ```tsx
         <a
              onClick={async () => {
                const res = await BitBadgesApi.generateAppleWalletPass({
                  ...
                });
                const pass = Buffer.from(res.data);

                const blob = new Blob([pass], { type: 'application/vnd.apple.pkpass' });
                const url = window.URL.createObjectURL(blob);
                if (url) {
                  const link = document.createElement('a');
                  link.href = url;
                  link.download = 'bitbadges.pkpass';
                  link.click();
                }
              }}>
              <img src="/images/add_to_apple_wallet.svg" style={{ width: 150 }} />
            </a>
        ```
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iGenerateAppleWalletPassSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      x-internal: true
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAppleWalletPassPayload'
  /oauth/token:
    post:
      operationId: getOauthAccessToken
      summary: Get OAuth Access Token
      tags:
        - OAuth API Authorization
      description: >-
        Exchange either a refresh token or OAuth authorization code for a new
        access token. The initial access

        token can be received by setting up an OAuth app + redirect URI. See
        authorization documentation

        for more information. This should be called from your redirect handler.


        IMPORTANT: Keep your client secret safe and secure.


        This is not applicable to the Sign In with BitBadges flow. This is for
        BitBadges API authorization.


        ```tsx

        // POST https://api.bitbadges.io/api/v0/oauth/token

        const res = await BitBadgesApi.getOauthAccessToken({
            client_id,
            client_secret,
            grant_type: 'authorization_code',
            redirect_uri,
            code, //the received authorization code
        })

        ```


        Documentation References / Tutorials:

        - **[API
        Authorization](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/authentication)**



        Refresh Example

        ```tsx

        const res = await BitBadgesApi.getOauthAccessToken({
            client_id,
            client_secret,
            grant_type: 'refresh_token',
            redirect_uri,
            refresh_token
        })

        ```
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOauthTokenSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthTokenPayload'
  /oauth/token/revoke:
    post:
      operationId: revokeOauthAuthorization
      summary: Revoke Authorization
      tags:
        - OAuth API Authorization
      description: >-
        Revokes the authorization. The token can either be an access token or a
        refresh token.

        This endpoint revokes all tokens associated with the procided token
        (thus revoking the entire authorization).

        This can be called by the user or the authorized application.


        This is not applicable to the Sign In with BitBadges flow. This is for
        BitBadges API authorization.


        ```tsx

        await BitBadgesApi.revokeOauthAuthorization({ token });

        ```



        Documentation References / Tutorials:

        - **[API
        Authorization](https://docs.bitbadges.io/for-developers/bitbadges-api/tutorials/authentication)**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthRevokePayload'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOauthRevokeSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
      security:
        - apiKey: []
components:
  responses:
    ErrorResponse:
      description: An error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestResponse:
      description: Bad Request - Invalid configuration or request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnauthorizedResponse:
      description: >-
        Unauthorized - Does not meet authentication requirements. This can be
        due to an invalid API key, CORS origin, or session cookie.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerErrorResponse:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Requires a BitBadges API key. This is true for all requests.
      x-type: string
    frontendOnly:
      type: apiKey
      in: header
      name: Origin
      description: >-
        Can only be called by the official BitBadges frontend. Not for developer
        use.
    userSignedIn:
      type: http
      scheme: cookie
      description: User must be signed in with a valid session and correct scopes.
    userMaybeSignedIn:
      type: http
      scheme: cookie
      description: >-
        User must be signed in for certain requests that fetch sensitive
        information, but certain requests can be made without being signed in.
    userIsManager:
      type: http
      scheme: cookie
      description: User must be signed in and be the manager of the requested collection.
    userIsOwner:
      type: http
      scheme: cookie
      description: User must be signed in and must be the owner of the requested object.
  schemas:
    NumberType:
      example: '1'
      description: >-
        A numeric or stringified number. See SDK docs for NumberType
        conversions. Stringified numbers are used to avoid precision loss.
    SupportedChain:
      enum:
        - Bitcoin
        - Ethereum
        - Cosmos
        - Solana
        - Unknown
      type: string
    AssetDetails:
      properties:
        chain:
          type: string
        collectionId:
          $ref: '#/components/schemas/NumberType'
        assetIds:
          items:
            anyOf:
              - type: string
              - $ref: '#/components/schemas/iUintRange'
          type: array
        ownershipTimes:
          items:
            $ref: '#/components/schemas/iUintRange'
          type: array
          examples: &ref_31
            - - start: '1713301889'
                end: '2000000000'
            - - start: '1'
                end: '18446744073709551615'
        mustOwnAmounts:
          $ref: '#/components/schemas/iUintRange'
        additionalCriteria:
          type: string
      required:
        - chain
        - collectionId
        - assetIds
        - ownershipTimes
        - mustOwnAmounts
      additionalProperties: false
      type: object
    AndGroup:
      properties:
        $and:
          items:
            $ref: '#/components/schemas/AssetConditionGroup'
          type: array
      required:
        - $and
      additionalProperties: false
      type: object
    OrGroup:
      properties:
        $or:
          items:
            $ref: '#/components/schemas/AssetConditionGroup'
          type: array
      required:
        - $or
      additionalProperties: false
      type: object
    AssetConditionGroup:
      anyOf:
        - $ref: '#/components/schemas/AndGroup'
        - $ref: '#/components/schemas/OrGroup'
        - $ref: '#/components/schemas/OwnershipRequirements'
      examples:
        - $and:
            - assets:
                - chain: BitBadges
                  collectionId: '1'
                  assetIds:
                    - start: '1'
                      end: '1'
                  mustOwnAmounts:
                    start: '1'
                    end: '1'
                  ownershipTimes: []
    OwnershipRequirements:
      properties:
        assets:
          items:
            $ref: '#/components/schemas/AssetDetails'
          type: array
        options:
          properties:
            numMatchesForVerification:
              $ref: '#/components/schemas/NumberType'
          additionalProperties: false
          type: object
      required:
        - assets
      additionalProperties: false
      type: object
    ChallengeParams:
      properties:
        domain:
          type: string
          examples: &ref_0
            - https://example.com
            - ipfs://Qm...
        statement:
          type: string
        address:
          type: string
        uri:
          type: string
          examples: &ref_1
            - https://example.com
            - ipfs://Qm...
        nonce:
          type: string
        version:
          type: string
        chainId:
          type: string
        issuedAt:
          type: string
          examples: &ref_2
            - '2022-01-01T00:00:00Z'
        expirationDate:
          type: string
          examples: &ref_3
            - '2022-01-01T00:00:00Z'
        notBefore:
          type: string
          examples: &ref_4
            - '2022-01-01T00:00:00Z'
        resources:
          items:
            type: string
          type: array
          examples: &ref_5
            - - 'Full Access: Full access to all features.'
        assetOwnershipRequirements:
          examples: &ref_6
            - assets:
                - chain: BitBadges
                  collectionId: '1'
                  assetIds:
                    - start: '1'
                      end: '1'
                  mustOwnAmounts:
                    start: '1'
                    end: '1'
                  ownershipTimes: []
          $ref: '#/components/schemas/AssetConditionGroup'
      required:
        - domain
        - statement
        - address
        - uri
        - nonce
      additionalProperties: false
      type: object
    VerifyChallengeOptions:
      properties:
        expectedChallengeParams:
          properties:
            domain:
              type: string
              examples: *ref_0
            statement:
              type: string
            address:
              type: string
            uri:
              type: string
              examples: *ref_1
            nonce:
              type: string
            version:
              type: string
            chainId:
              type: string
            issuedAt:
              type: string
              examples: *ref_2
            expirationDate:
              type: string
              examples: *ref_3
            notBefore:
              type: string
              examples: *ref_4
            resources:
              items:
                type: string
              type: array
              examples: *ref_5
            assetOwnershipRequirements:
              $ref: '#/components/schemas/AssetConditionGroup'
              examples: *ref_6
          additionalProperties: false
          description: >-
            Optionally define the expected details to check. If the challenge
            was edited and the details

            do not match, the challenge will fail verification.
          type: object
        balancesSnapshot:
          description: >-
            For verification of assets, instead of dynamically fetching the
            assets, you can specify a snapshot of the assets.


            This is useful if you have a snapshot, balances will not change, or
            you are verifying in an offline manner.
          type: object
        skipTimestampVerification:
          description: >-
            If true, we do not check timestamps (expirationDate / notBefore).
            This is useful if you are verifying a challenge that is expected to
            be verified at a future time.
          type: boolean
        skipAssetVerification:
          description: >-
            If true, we do not check asset ownership. This is useful if you are
            verifying a challenge that is expected to be verified at a future
            time.
          type: boolean
        earliestIssuedAt:
          description: >-
            The earliest issued At ISO date string that is valid. For example,
            if you want to verify a challenge that was issued within the last
            minute, you can specify this to be 1 minute ago.
          type: string
          examples:
            - '2022-01-01T00:00:00Z'
        issuedAtTimeWindowMs:
          description: >-
            If set, we will verify the issuedAt is within this amount of ms ago
            (i.e. issuedAt >= Date.now() - issuedAtTimeWindowMs)
          type: number
        skipSignatureVerification:
          description: >-
            If true, we do not check the signature. You can pass in an undefined
            ChainDriver
          type: boolean
      additionalProperties: false
      type: object
    Doc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
      required:
        - _docId
      additionalProperties: false
      type: object
    ErrorResponse:
      properties:
        error:
          description: >-
            Serialized error object for debugging purposes. Technical users can
            use this to debug issues.
          type: string
        errorMessage:
          description: >-
            UX-friendly error message that can be displayed to the user. Always
            present if error.
          type: string
        unauthorized:
          description: Authentication error. Present if the user is not authenticated.
          type: boolean
      required:
        - errorMessage
      additionalProperties: false
      description: >-
        If an error occurs, the response will be an ErrorResponse.


        400 - Bad Request (e.g. invalid request body)

        401 - Unauthorized (e.g. invalid session cookie; must sign in with
        Blockin)

        500 - Internal Server Error
      type: object
    PaginationInfo:
      properties:
        bookmark:
          description: >-
            The bookmark for the next page of results. Obtained from previous
            response.
          type: string
        hasMore:
          description: Whether there are more results to fetch.
          type: boolean
      required:
        - bookmark
        - hasMore
      additionalProperties: false
      description: Type for pagination information.
      type: object
    iUpdateHistory:
      properties:
        txHash:
          description: The transaction hash of the on-chain transaction that updated this.
          type: string
          examples: &ref_7
            - CE22D7...
        block:
          description: The block number of the on-chain transaction that updated this.
          $ref: '#/components/schemas/NumberType'
        blockTimestamp:
          description: >-
            The timestamp of the block of the on-chain transaction that updated
            this.
          $ref: '#/components/schemas/UNIXMilliTimestamp'
        timestamp:
          description: >-
            The indexer's timestamp of the update. This is provided in some
            cases because the time of indexing may be inconsistent with the time
            of the block.
          $ref: '#/components/schemas/UNIXMilliTimestamp'
      required:
        - txHash
        - block
        - blockTimestamp
        - timestamp
      additionalProperties: false
      type: object
    ErrorDoc:
      properties:
        _docId:
          type: string
        _id:
          type: string
        error:
          type: string
        function:
          type: string
      required:
        - _docId
        - error
        - function
      additionalProperties: false
      type: object
    UNIXMilliTimestamp:
      description: >-
        Numeric timestamp - value is equal to the milliseconds since the UNIX
        epoch.
      examples:
        - '1713301889'
    CosmosAddress:
      description: >-
        All supported addresses map to a Bech32 Cosmos address which is used by
        the BitBadges blockchain behind the scenes.

        For conversion, see the BitBadges documentation. If this type is used,
        we must always convert to a Cosmos address before using it.
      type: string
      examples:
        - cosmos1...
    BlockinMessage:
      description: >-
        BlockinMessage is the sign-in challenge strint to be signed by the user.
        It extends EIP 4361 Sign-In with Ethereum

        and adds additional fields for cross-chain compatibility and native
        asset ownership verification.


        For example, 'https://bitbadges.io wants you to sign in with your
        Ethereum address ...'
      type: string
      examples:
        - https://bitbadges.io wants you to sign in with your Cosmos address....
    NativeAddress:
      description: >-
        A native address is an address that is native to the user's chain. For
        example, an Ethereum address is native to Ethereum (0x...).

        If this type is used, we support any native address type. We do not
        require conversion to a Cosmos address like the CosmosAddress type.
      type: string
      examples:
        - 0x...
        - bc1...
        - cosmos1...
    iSocialConnections:
      properties:
        discord:
          properties:
            username:
              type: string
            id:
              type: string
            discriminator:
              type: string
            lastUpdated:
              $ref: '#/components/schemas/UNIXMilliTimestamp'
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
        twitter:
          properties:
            username:
              type: string
            id:
              type: string
            lastUpdated:
              $ref: '#/components/schemas/UNIXMilliTimestamp'
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
        google:
          properties:
            username:
              type: string
            id:
              type: string
            lastUpdated:
              $ref: '#/components/schemas/UNIXMilliTimestamp'
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
        github:
          properties:
            username:
              type: string
            id:
              type: string
            lastUpdated:
              $ref: '#/components/schemas/UNIXMilliTimestamp'
          required:
            - username
            - id
            - lastUpdated
          additionalProperties: false
          type: object
      additionalProperties: false
      description: >-
        Social connections are tracked for each user to provide an enhanced
        experience.

        These are kept private from other users or sites using the API.

        Currently, there is no use for these, but they may be used in the
        future.
      type: object
    iNotificationPreferences:
      properties:
        email:
          description: The email to receive push notifications.
          type: string
        discord:
          properties:
            id:
              type: string
            username:
              type: string
            discriminator:
              type: string
            token:
              type: string
          required:
            - id
            - username
            - discriminator
            - token
          additionalProperties: false
          description: The Discord ID to receive push notifications.
          type: object
        emailVerification:
          description: The verification status of the email.
          $ref: '#/components/schemas/iEmailVerificationStatus'
        preferences:
          properties:
            listActivity:
              type: boolean
            transferActivity:
              type: boolean
            claimAlerts:
              type: boolean
            ignoreIfInitiator:
              type: boolean
          additionalProperties: false
          description: >-
            The preferences for the notifications. What type of notifications
            does the user want to receive?
          type: object
      additionalProperties: false
      description: Details about the user's push notification preferences.
      type: object
    iEmailVerificationStatus:
      properties:
        verified:
          description: Whether or not the email has been verified.
          type: boolean
        token:
          description: >-
            The email verification token. This is used for verification and
            unsubscription.
          type: string
        expiry:
          description: The expiry of the token for verification purposes.
          $ref: '#/components/schemas/UNIXMilliTimestamp'
        antiPhishingCode:
          description: >-
            A unique code that we will send with all emails to verify that
            BitBadges is the one sending the email.
          type: string
      additionalProperties: false
      description: The verification status of the user's email.
      type: object
    iActivityDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity.
          $ref: '#/components/schemas/UNIXMilliTimestamp'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
      required:
        - _docId
        - timestamp
        - block
      additionalProperties: false
      description: The base document interface for all acitivity types.
      type: object
    iReviewDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity.
          $ref: '#/components/schemas/UNIXMilliTimestamp'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        review:
          description: The review text (max 2048 characters).
          type: string
        stars:
          description: The number of stars given (1-5).
          $ref: '#/components/schemas/NumberType'
        from:
          description: The user who gave the review.
          $ref: '#/components/schemas/CosmosAddress'
        collectionId:
          description: >-
            The collection ID of the collection that was reviewed. Only
            applicable to collection reviews.
          $ref: '#/components/schemas/NumberType'
        reviewedAddress:
          description: >-
            The Cosmos address of the user who the review is for. Only
            applicable to user reviews.
          $ref: '#/components/schemas/CosmosAddress'
      required:
        - _docId
        - timestamp
        - block
        - review
        - stars
        - from
      additionalProperties: false
      description: ''
      type: object
    iTransferActivityDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity.
          $ref: '#/components/schemas/UNIXMilliTimestamp'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        to:
          items:
            $ref: '#/components/schemas/CosmosAddress'
          description: The list of recipients.
          type: array
        from:
          description: The sender of the badges.
          $ref: '#/components/schemas/CosmosAddress'
        balances:
          items:
            $ref: '#/components/schemas/iBalance'
          description: The list of balances and badge IDs that were transferred.
          type: array
        collectionId:
          description: The collection ID for the badges that was transferred.
          $ref: '#/components/schemas/NumberType'
        memo:
          description: The memo of the transfer.
          type: string
        precalculateBalancesFromApproval:
          description: Which approval to use to precalculate the balances?
          $ref: '#/components/schemas/iApprovalIdentifierDetails'
        prioritizedApprovals:
          items:
            $ref: '#/components/schemas/iApprovalIdentifierDetails'
          description: >-
            The prioritized approvals of the transfer. This is used to check
            certain approvals before others to ensure intended behavior.
          type: array
        initiatedBy:
          description: The user who initiated the transfer transaction.
          $ref: '#/components/schemas/CosmosAddress'
        txHash:
          description: The transaction hash of the activity.
          type: string
          examples: *ref_7
      required:
        - _docId
        - timestamp
        - block
        - to
        - from
        - balances
        - collectionId
        - initiatedBy
      additionalProperties: false
      description: ''
      type: object
    iListActivityDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity.
          $ref: '#/components/schemas/UNIXMilliTimestamp'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        listId:
          description: The list ID.
          type: string
          examples: &ref_11
            - customOrReservedListId
            - Mint
            - All
            - cosmos1...
        initiatedBy:
          description: Initiator of the list activity.
          $ref: '#/components/schemas/CosmosAddress'
        addedToList:
          description: Whether or not the address was added to the list or removed.
          type: boolean
        addresses:
          items:
            $ref: '#/components/schemas/CosmosAddress'
          description: The list of addresses that were added or removed from the list.
          type: array
        txHash:
          description: The transaction hash of the activity.
          type: string
          examples: *ref_7
      required:
        - _docId
        - timestamp
        - block
        - listId
        - initiatedBy
      additionalProperties: false
      description: ''
      type: object
    iClaimAlertDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        timestamp:
          description: The timestamp of the activity.
          $ref: '#/components/schemas/UNIXMilliTimestamp'
        block:
          description: The block number of the activity.
          $ref: '#/components/schemas/NumberType'
        _notificationsHandled:
          description: >-
            Whether or not the notifications have been handled by the indexer or
            not.
          type: boolean
        from:
          description: The sender
          type: string
        cosmosAddresses:
          items:
            $ref: '#/components/schemas/CosmosAddress'
          description: The cosmos addresses of the users that have been alerted.
          type: array
        collectionId:
          description: The collection ID of the claim alert.
          $ref: '#/components/schemas/NumberType'
        message:
          description: The message of the claim alert.
          type: string
      required:
        - _docId
        - timestamp
        - block
        - from
        - cosmosAddresses
        - collectionId
      additionalProperties: false
      description: ''
      type: object
    iCollectionDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        collectionId:
          description: The collection ID
          $ref: '#/components/schemas/NumberType'
        collectionMetadataTimeline:
          items:
            $ref: '#/components/schemas/iCollectionMetadataTimeline'
          description: The collection metadata timeline
          type: array
        badgeMetadataTimeline:
          items:
            $ref: '#/components/schemas/iBadgeMetadataTimeline'
          description: The badge metadata timeline
          type: array
        balancesType:
          enum:
            - Standard
            - Off-Chain - Indexed
            - Non-Public
            - Off-Chain - Non-Indexed
          description: >-
            The type of balances (i.e. "Standard", "Off-Chain - Indexed",
            "Non-Public, "Off-Chain - Non-Indexed")
          type: string
        offChainBalancesMetadataTimeline:
          items:
            $ref: '#/components/schemas/iOffChainBalancesMetadataTimeline'
          description: The off-chain balances metadata timeline
          type: array
        customDataTimeline:
          items:
            $ref: '#/components/schemas/iCustomDataTimeline'
          description: The custom data timeline
          type: array
        managerTimeline:
          items:
            $ref: '#/components/schemas/iManagerTimeline'
          description: The manager timeline
          type: array
        collectionPermissions:
          description: The collection permissions
          $ref: '#/components/schemas/iCollectionPermissions'
        collectionApprovals:
          items:
            $ref: '#/components/schemas/iCollectionApproval'
          description: The collection approved transfers timeline
          type: array
        standardsTimeline:
          items:
            $ref: '#/components/schemas/iStandardsTimeline'
          description: The standards timeline
          type: array
        isArchivedTimeline:
          items:
            $ref: '#/components/schemas/iIsArchivedTimeline'
          description: The is archived timeline
          type: array
        defaultBalances:
          description: >-
            The default balances for users who have not interacted with the
            collection yet. Only used if collection has "Standard" balance type.
          $ref: '#/components/schemas/iUserBalanceStore'
        createdBy:
          description: The cosmos address of the user who created this collection
          $ref: '#/components/schemas/CosmosAddress'
        createdBlock:
          description: The block number when this collection was created
          $ref: '#/components/schemas/NumberType'
        createdTimestamp:
          description: >-
            The timestamp when this collection was created (milliseconds since
            epoch)
          $ref: '#/components/schemas/UNIXMilliTimestamp'
        updateHistory:
          items:
            $ref: '#/components/schemas/iUpdateHistory'
          description: The update history of this collection
          type: array
        aliasAddress:
          description: The alias cosmos address for the collection
          $ref: '#/components/schemas/CosmosAddress'
      required:
        - _docId
        - collectionId
        - collectionMetadataTimeline
        - badgeMetadataTimeline
        - balancesType
        - offChainBalancesMetadataTimeline
        - customDataTimeline
        - managerTimeline
        - collectionPermissions
        - collectionApprovals
        - standardsTimeline
        - isArchivedTimeline
        - defaultBalances
        - createdBy
        - createdBlock
        - createdTimestamp
        - updateHistory
        - aliasAddress
      additionalProperties: false
      description: ''
      type: object
    iAccountDoc:
      properties:
        _docId:
          description: A unique stringified document ID
          type: string
        _id:
          description: A unique document ID (Mongo DB ObjectID)
          type: string
        publicKey:
          description: The public key of the account
          type: string
          examples: &ref_15
            - AksB.... (base64)
        accountNumber:
          description: The account number of the account
          $ref: '#/components/schemas/NumberType'
        pubKeyType:
          description: The public key type of the account
          type: string
        cosmosAddress:
          description: The Cosmos address of the account
          examples: &ref_10
            - cosmos1...
          $ref: '#/components/schemas/CosmosAddress'
        ethAddress:
          description: The Eth address of the account
          type: string
          examples: &ref_20
            - 0x...
        solAddress:
          description: The Solana address of the account
          type: string
          examples: &ref_9
            - 6H2af6...
        btcAddress:
          description: The Bitcoin address of the account
          type: string
          examples: &ref_21
            - bc1...
        sequence:
          description: The sequence of the account
          $ref: '#/components/schemas/NumberType'
        balance:
          description: The balance of the account
          $ref: '#/components/schemas/iCosmosCoin'
      required:
        - _docId
        - publicKey
        - accountNumber
        - pubKeyType
        - cosmosAddress
        - ethAddress
        - solAddress
        - btcAddress
      additionalProperties: false
      description: ''
      type: object
    iCustomLink:
      properties:
        title:
          description: Title of the link
          type: string
        url:
          description: URL of the link
          type: string
        image:
          description: Description of the link
          type: string
          examples: &ref_14
            - https://example.com/image.png
            - ipfs://Qm...
      required:
        - title
        - url
        - image
      additionalProperties: false
      description: CustomLinks are custom links that can be added to a profile.
      type: object
    iCustomPage:
      properties:
        title:
          description: The title of the custom page
          type: string
        description:
          description: The description of the custom page
          type: string
          examples: &ref_8
            - Brief description.
        items:
          items:
            $ref: '#/components/schemas/iBatchBadgeDetails'
          description: The badge IDs to display on the custom page
          type: array
      required:
        - title
        - description
        - items
      additionalProperties: false
      type: object
    iCustomListPage:
      properties:
        title:
          description: The title of the custom list page
          type: string
        description:
          description: The description of the custom list page
          type: string
          examples: *ref_8
        items:
          items:
            type: string
          description: The list IDs to display on the custom list page
          type: array
      required:
        - title
        - description
        - items
      additionalProperties: false
      description: >-
        CustomListPage is a custom list page that can be added to a profile. The
[...]
